body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}


.menu{
    width: 12%;
    position: fixed;
    background: linear-gradient(89.68deg, #FAFAFA 0.97%, #FAFAFA 96.25%, #EDEDED 98.8%);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.menu ul{
    padding: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    align-items: center;
}
.user button{
    color: #379BBF;
    border: 2px solid #379BBF;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    width: 145px;
    height: 38px;
    margin-top: 20px;
    background-color: white;
    transition: background-color .5s;
}
.user button:hover{
    color: white;
    border: 2px solid #379BBF;
    background-color: #379BBF;
}
.user button:nth-last-of-type(1):hover{
    color: #379BBF;
    border: 2px solid #379BBF;  
    background-color: white;
}
.user button:nth-last-of-type(1){
    color: white;
    border: 2px solid #379BBF;
    background-color: #379BBF;
}
.menu li{
    margin-top: 20px;
}
.container{
    height: 100vh;
    width: 100vw;
    margin-left: 250px;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 24px;
}
.content-menu{
    display: flex;
    margin-right: 30%;
    align-items: center;
}
.content-menu li{
    margin-right: 15%;
    cursor: pointer;
}
.logo{
    width: 232px;
    height: 129px;
}
.content-menu input{
    width: 300px;
    height: 50px;
    background-color: #EFEFEF;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 0 20px;
}
.input{
    position: relative;
}
.input img{
    position: absolute;
    right: 5%;
    bottom: 50%;
    transform: translateY(50%);
}

.content{
    display: flex;
}
.content .vera{
    left: 0;
    float: left;
    width: 34%;
    margin-right: 5%;
}
.fixado{
    float: right;
    padding-right: 50px;
    font-size: 10px;
    color: rgb(131, 129, 129);
    display: flex;
    align-items: center;
    padding-top: 4%;
}
.fixado img{
    margin-left: 5px;
}


.vera h1{
    margin-top: 2%;
    font-size: 25px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.vera p{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-top: 30%;
}
/* CARD */
.dif-card{
    position: absolute;
    display: inline-block;
    margin-right: 15%;
    width: 28%;
    height: 20%;
    background: #FAFAFA;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.19), 0px 0px 10px rgba(55, 155, 191, 0.44);
    border-radius: 15px;
}
.dif-card h1{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-left: 6%;
    padding-top: 3%;
}
.ler button{
    color: white;
    position: absolute;
    width: 115px;
    height: 38px;
    left: 20px;
    top: 80px;
    background: #33D6C0;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.jogar button{
    color: white;
    position: absolute;
    width: 115px;
    height: 38px;
    left: 165px;
    top: 80px;
    background: #379BBF;
    border-radius: 50px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.ouvir button{
    color: white;
    position: absolute;
    width: 115px;
    height: 38px;
    left: 315px;
    top: 80px;
    background: #335CD6;
    border-radius: 50px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.card{
    width: 80%;
    height: 231px;
    margin-bottom: 20px;
    margin-top: 34px;
    background: #FAFAFA;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.19), 0px 0px 10px rgba(55, 155, 191, 0.44);
    border-radius: 15px;
    background-image: url(/public/assets/family.png);
    background-size: 340px;
    background-repeat: no-repeat;
    background-position-x: -30px;
    background-position-y: -10px;
    position: relative;
}
.card.second{
    background-image: url(/public/assets/lawyer.png);
}
.card.third{
    background-image: url(/public/assets/data_and_settings_monochromatic.svg);
}
.card.fourth{
    background-image: url(/public/assets/book_lover.svg);
}
.card h2{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

    left: 300px;
    top: 2px;
}
.card h3{
    position: absolute;
    left: 350px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
}
.buttons{
    position: absolute;
    width: 600px;
    height: 48px;
    left: 330px;
    top: 60px;
    margin-top: 12px;
}
.buttons button{
    width: 160px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFAFA;
    margin-right: 30px;
}
.first-content{
    flex: 4;
}
.second-content{
    flex: 1;
    margin-top: 34px
}
.espiar{
    display: flex;
    position: absolute;
    align-items: center;
    right: 30px;
    bottom: 0;
    cursor: pointer;

    font-family: Roboto;
    font-style: light;
    font-weight: lighter;
    font-size: 20px;
    color: #379BBF;
}
.espiar h4{
    width: 100px;

    font-weight: 500;
    font-size: 16px;
    color: #379BBF;
}
.espiar img{
    margin-left: 5px;
}
.buttons button:first-of-type{
    background: #33D6C0;
}
.buttons button:nth-child(2){
    background: #379BBF;
}
.buttons button:nth-child(3){
    background: #335CD6;
    margin-right: 0;
}

.access ul{
    display: flex;
    padding: 0;
}
.access li{
    margin-left: 19px;
    cursor: pointer;
}
.access li:first-of-type{
    margin-left: 0;
}

.canais button{
    width: 186px;
    height: 50px;

    border-radius: 15px;
    border: none;
    outline: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 10%;

    cursor: pointer;
    color: #FFFFFF;
    transition: all 0.8s;
}
.button-filter{
    background: rgba(41, 114, 140, 0.69);
    z-index: 10;
}
.canais button:first-of-type{
    background-image: url(/public/assets/button1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.canais button:nth-of-type(2){
    background-image: url(/public/assets/button2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.canais button:nth-of-type(3){
    background-image: url(/public/assets/button3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.canais button:nth-of-type(4){
    background-image: url(/public/assets/button4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.canais button:nth-of-type(5){
    background-image: url(/public/assets/button5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.canais button:nth-of-type(6){
    background-image: url(/public/assets/button6.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.canais button:hover{
    transform: translateY(-3px);
}
.gold{
    display: flex;
    align-items: center;
    height: 20px;
}
.gold h4{
    font-weight: bold;
    background-color: #e9ca2d;
    border-radius: 3px;
    color: white;
    padding: 4px;
    margin-left: 10px;
}
.menu ul button{
    display:flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: black;
    border: none;
    background-color: rgba(240, 248, 255, 0);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0;
}
.menu ul button.active{
    width: 120px;
    height: 40px;
    background: #379BBF;
    border-radius: 50px;  
    color: white;
}
.second-column{
    margin-top: 230px;
}